@tailwind base;
@layer base {
  @font-face {
    font-family: cairo-bold;
    src: url("../public/fonts/Cairo-Bold.ttf");
  }

  @font-face {
    font-family: cairo-semibold;
    src: url("../public/fonts/Cairo-SemiBold.ttf");
  }

  @font-face {
    font-family: cairo-regular;
    src: url("../public/fonts/Cairo-Regular.ttf");
  }

  @font-face {
    font-family: cairo-light;
    src: url("../public/fonts/Cairo-Light.ttf");
  }

  h1 {
    @apply lg:text-6xl md:text-5xl text-4xl font-cairo-bold text-white;
  }

  h2 {
    @apply xl:text-5xl md:text-4xl text-3xl font-cairo-bold text-white;
  }

  h3 {
    @apply xl:text-4xl md:text-3xl text-2xl font-cairo-bold text-white;
  }

  h4 {
    @apply xl:text-2xl md:text-xl text-lg font-cairo-semibold text-white;
  }

  /* a,
  p {
    @apply;
  }

  span {
    @apply;
  }

  b,
  strong {
    @apply;
  }

  button {
    @apply;
  } */

  body {
    @apply font-cairo-regular;
  }
}
@tailwind components;

form div.form-group {
  @apply relative my-6 w-full;
}

form div.form-group div {
  @apply border-b;
}

form div.form-group-radio div {
  @apply border-none;
}

form div.form-group small {
  @apply text-red-700 font-bold;
}

form div.left-orientation {
  @apply flex flex-col w-full sm:flex-row my-2 gap-8 items-baseline;
}

form div.left-orientation div.form-group {
  @apply sm:w-1/6;
}

form div.center-orientation {
  @apply flex flex-col md:flex-row justify-around md:justify-center md:items-center w-full;
}

form div.input-full div.form-group {
  @apply w-full;
}

form div.form-group select {
  @apply w-full;
}

form div.form-group select,
form div.form-group option,
form div.form-group input,
form div.form-group .input-disabled {
  @apply md:pl-2 block w-full text-base appearance-none focus:outline-none bg-transparent font-extralight text-teal;
}

form div.form-group i {
  @apply absolute right-2 bottom-3 w-2 h-2 block border-l border-solid border-b border-teal transform -rotate-45 transition-all duration-150 ease-in-out;
}

form div.form-group label {
  @apply absolute top-0 z-10 duration-300 text-teal;
}

form label.label-select,
form input:focus-within ~ label,
form input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6 -translate-x-3;
}

form input:focus-within ~ label,
form select:focus-within ~ label {
  @apply text-teal;
}

form input:checked + svg {
  display: block;
}

.btn-teal {
  @apply bg-teal border-white text-white hover:text-teal hover:border hover:border-teal;
}

.container-login {
  @apply bg-white shadow-xl;
}

@media (max-width: 768px) {
  .carousel div div div div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/*--------------------------------- DatePicker -----------------------------------------*/
.react-datepicker__input-container input {
  @apply block w-full text-base md:text-sm h-12 bg-white border border-gray-300 pl-10 pr-3 py-3 rounded-md shadow-sm;
}

.error .react-datepicker__input-container input {
  @apply border-red-400;
}

.error .react-datepicker__input-container input::placeholder {
  @apply text-red-400;
}

.react-datepicker__input-container input::placeholder {
  @apply text-gray-400;
}

.react-datepicker__tab-loop {
  @apply absolute;
}

.react-datepicker-popper {
  @apply absolute top-1 z-10 left-0 w-72 text-sm transform-none bg-white shadow px-3 py-2 !important;
}

.react-datepicker__month-container,
.react-datepicker__month {
  @apply flex flex-col;
}

#marketingActionPortal .react-datepicker-popper {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  transform: translate(-6px, -312px) !important;
  inset: 0px auto auto 0px !important;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800 hidden;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray-800 font-medium text-center text-xs;
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full;
}

.react-datepicker__navigation {
  @apply absolute top-2 hidden;
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 rounded transition items-center justify-center hover:bg-gray-200 hidden;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition items-center justify-center hover:bg-gray-200 hidden;
}

.react-datepicker__header__dropdown {
  @apply flex justify-evenly my-1 text-base;
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded-full hover:bg-gray-200;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-50 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-400;
}

.react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200;
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-teal rounded-full;
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-teal rounded-full;
}

.react-datepicker__day--selected {
  @apply bg-teal text-white rounded-full;
}

.react-datepicker__day--range-start {
  @apply bg-teal text-white hover:text-gray-700 hover:bg-white rounded-full;
}

.react-datepicker__day--range-end {
  @apply bg-teal text-white hover:text-gray-700 hover:bg-white rounded-full;
}

.react-datepicker__input-container input:disabled {
  @apply text-gray-600;
  cursor: default;
  background-color: rgba(239, 239, 239, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
}

.react-datepicker__time-list-item--disabled {
  @apply opacity-50 cursor-not-allowed;
}

.react-datepicker__time-list {
  @apply flex flex-col max-h-40 overflow-y-scroll scroll-smooth;
}

.react-datepicker__time-list-item--selected {
  @apply bg-teal text-white;
}

.react-datepicker__time-list-item {
  @apply flex justify-between items-center px-2 rounded-sm py-1 text-sm text-gray-700 hover:bg-gray-200;
}

.react-datepicker-ignore-onclickoutside {
  @apply outline-none;
}

@tailwind utilities;
